<!DOCTYPE html>
<html lang="en">
<head>
    <!-- metas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- links -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/site.webmanifest">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>MusicPlay</title>
</head>
<body>
    <header>
        <div class="menu-side">
            <h1>Lista de músicas</h1>
            <div class="playlist">
                <h4 class="active"><span></span><i class="bi bi-music-note-beamed"></i> Lista de músicas</h4>
                <h4><span></span><i class="bi bi-music-note-beamed"></i> Últimas tocadas</h4>
                <h4><span></span><i class="bi bi-music-note-beamed"></i> Recomendadas</h4>
            </div>
            <div class="menu-song">
                <li class="songItem">
                    <span>01</span>
                    <img src="./assets/img/1.jpg" alt="">
                    <h5>On My Way <br> 
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                </li>
                <li class="songItem">
                    <span>01</span>
                    <img src="./assets/img/2.jpg" alt="">
                    <h5>On My Way <br> 
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                </li>
                <li class="songItem">
                    <span>01</span>
                    <img src="./assets/img/3.jpg" alt="">
                    <h5>On My Way <br> 
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                </li>
                <li class="songItem">
                    <span>01</span>
                    <img src="./assets/img/4.jpg" alt="">
                    <h5>On My Way <br> 
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                </li>
                <li class="songItem">
                    <span>01</span>
                    <img src="./assets/img/4.jpg" alt="">
                    <h5>On My Way <br> 
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                </li>
                <li class="songItem">
                    <span>01</span>
                    <img src="./assets/img/5.jpg" alt="">
                    <h5>On My Way <br> 
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                </li>
            </div>
        </div>
        <div class="song-side"></div>
        <div class="master-play"></div>
    </header>
    
    <script src="assets/js/script.js"></script>
</body>
</html>