<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Fit Club</title>
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="#"><img src="./assets/logo.png" alt="Logo"></a>
        </div>
        <ul class="nav-links">
            <li class="link"><a href="#">Início</a></li>
            <li class="link"><a href="#">Programa</a></li>
            <li class="link"><a href="#">Serviço</a></li>
            <li class="link"><a href="#">Sobre</a></li>
            <li class="link"><a href="#">Comunidade</a></li>
        </ul>
        <button class="btn">Entrar</button>
    </nav>

    <header class="section-container header-container">
        <div class="header-content">
            <span class="bg-blur"></span>
            <span class="bg-blur header-blur"></span>
            <h4>MELHOR FITNESS DA CIDADE</h4>
            <h1>DEIXE SEU CORPO EM <span>FORMA</span></h1>
            <P>
                Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Nesciunt optio libero consectetur et nostrum 
                doloremque laudantium cupiditate illum laboriosam culpa?
            </P>
            <button class="btn">Iniciar agora</button>
        </div>
        <div class="header-image">
            <img src="./assets/header.png" alt="header">
        </div>
    </header>

    <section class="section-container explore-container">
        <div class="explore-header">
            <h2 class="section-header">Explore nosso Programa</h2>
            <div class="explore-nav">
                <span><i class="ri-arrow-left-line"></i></span>
                <span><i class="ri-arrow-right-line"></i></span>
            </div>
        </div>
        <div class="explore-grid">
            <div class="explore-card">
                <span><i class="ri-boxing-fill"></i></span>
                <h4>Força</h4>
                <p>
                    Abrace a essência da força enquanto mergulhamos em 
                    suas várias dimensões físicas, mentais e emocionais.                
                </p>
                <a href="#">Entrar <i class="ri-arrow-right-line"></i></a>
            </div>

            <div class="explore-card">
                <span><i class="ri-heart-pulse-fill"></i></span>
                <h4>Aptidão Física</h4>
                <p>
                    Abrange uma gama de atividades que melhoram a saúde, a força, 
                    a flexibilidade e o bem-estar geral.                
                </p>
                <a href="#">Entrar <i class="ri-arrow-right-line"></i></a>
            </div>

            <div class="explore-card">
                <span><i class="ri-run-line"></i></span>
                <h4>Perder Gordura</h4>
                <p>
                    Por meio de uma combinação de rotinas de exercícios e orientação 
                    especializada, capacitaremos você a atingir seus objetivos.
                </p>
                <a href="#">Entrar <i class="ri-arrow-right-line"></i></a>
            </div>

            <div class="explore-card">
                <span><i class="ri-shopping-basket-fill"></i></span>
                <h4>Ganho de Peso</h4>
                <p>
                    Projetado para indivíduos, nosso programa oferece uma abordagem 
                    eficaz para ganhar peso de maneira sustentável.
                </p>
                <a href="#">Entrar <i class="ri-arrow-right-line"></i></a>
            </div>
        </div>
    </section>

    <section class="section-container class-container">
        <div class="class-image">
            <span class="bg-blur"></span>
            <img src="./assets/class-1.jpg" alt="class image" class="class-image-1">
            <img src="./assets/class-2.jpg" alt="class image" class="class-image-2">
        </div>
        <div class="class-content">
            <h2 class="section-header">A AULA QUE VOCÊ VAI TER AQUI</h2>
            <p>
                Liderada por nossa equipe de instrutores especializados e motivacionais, 
                "A Aula Que Você Vai Ter Aqui" é uma sessão de alta energia e orientada 
                a resultados que combina uma combinação perfeita de cardio, treinamento 
                de força e exercícios funcionais. Cada aula é cuidadosamente selecionada 
                para mantê-lo engajado e desafiado, garantindo que você nunca atinja um 
                platô em seus esforços de condicionamento físico.            
            </p>
            <button class="btn">Reservar uma aula</button>
        </div>
    </section>

    <section class="section-container join-container">
        <h2 class="section-header">PORQUE SE JUNTAR A NÓS?</h2>
        <p class="section-subheader">
            Nossa base diversificada de membros cria uma atmosfera amigável e solidária, 
            onde você pode fazer amigos e se manter motivado.        
        </p>
        <div class="join-image">
            <img src="./assets/join.jpg" alt="Join">
            <div class="join-grid">
                <div class="join-card">
                    <span><i class="ri-user-star-fill"></i></span>
                    <div class="join-card-content">
                        <h4>Personal Trainer</h4>
                        <p>
                            Desbloqueie seu potencial com nossos Personal Trainers especializados.
                        </p>
                    </div>
                </div>

                <div class="join-card">
                    <span><i class="ri-vidicon-fill"></i></span>
                    <div class="join-card-content">
                        <h4>Sessão Prática</h4>
                        <p>
                            Eleve seu condicionamento físico com nossa Sessão Prática.
                        </p>
                    </div>
                </div>

                <div class="join-card">
                    <span><i class="ri-building-line"></i></span>
                    <div class="join-card-content">
                        <h4>Boa Gestão</h4>
                        <p>
                            Gestão de apoio, para o seu sucesso de fitness.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-container price-container">
        <h2 class="section-header">NOSSOS PLANOS DE PREÇO</h2>
        <p class="section-subheader">
            Nosso plano de preços vem com vários níveis de associação, cada um adaptado para 
            atender a diferentes preferências e aspirações de condicionamento físico.        
        </p>
        <div class="price-grid">
            <div class="price-card">
                <div class="price-card-content">
                    <h4>Pano Básico</h4>
                    <h3><span>R$</span> 16,00<span>/mês</span></h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Plano de trabalho inteligente
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Treinos em casa
                    </p>
                </div>
                <button class="btn price-btn">Entrar</button>
            </div>

            <div class="price-card">
                <div class="price-card-content">
                    <h4>Pano Semanal</h4>
                    <h3><span>R$</span> 25,00<span>/mês</span></h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Academias Profissionais
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Plano de treino inteligente
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Treinos em casa
                    </p>
                </div>
                <button class="btn price-btn">Entrar</button>
            </div>

            <div class="price-card">
                <div class="price-card-content">
                    <h4>Pano Mensal</h4>
                    <h3><span>R$</span> 45,00<span>/mês</span></h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        ELITE das Academias & Classes
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Academias Profissionais
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Plano de treino inteligente
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Personal Training
                    </p>
                </div>
                <button class="btn price-btn">Entrar</button>
            </div>
        </div>
    </section>

    <section class="review">
        <div class="section-container review-container">
            <span><i class="ri-double-quotes-r"></i></span>
            <div class="review-content">
                <h4>AVALIAÇÂO DOS MEMBROS</h4>
                <p>
                    O que realmente diferencia esta academia é sua equipe especializada de 
                    treinadores. Os treinadores são conhecedores, acessíveis e genuinamente 
                    empenhados em ajudar os membros a atingir suas metas de condicionamento 
                    físico. Eles dedicam tempo para entender as necessidades individuais e 
                    criar planos de treino personalizados, garantindo o máximo de resultados 
                    e segurança.                
                </p>
                <div class="review-rating">
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-fill"></i></span>
                    <span><i class="ri-star-half-fill"></i></span>
                </div>
                <div class="review-footer">
                    <div class="review-member">
                        <img src="./assets/member.jpg" alt="member">
                        <div class="review-member-details">
                            <h4>Jane Cooper</h4>
                            <p>Desenvolvedora de Software</p>
                        </div>
                    </div>
                    <div class="review-nav">
                        <span><i class="ri-arrow-left-line"></i></span>
                        <span><i class="ri-arrow-right-line"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="section-container footer-container">
        <span class="bg-blur"></span>
        <span class="bg-blur footer-blur"></span>
        <div class="footer-col">
            <div class="footer-logo">
                <img src="./assets/logo.png" alt="logo">
            </div>
            <p>
                Dê o primeiro passo em direção a uma pessoa mais saudável e forte 
                com nossos planos de preços imbatíveis. Vamos suar, alcançar e 
                conquistar juntos!            
            </p>
            <div class="footer-socials">
                <a href="#"><i class="ri-facebook-fill"></i></a>
                <a href="#"><i class="ri-instagram-line"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
            </div>
        </div>
        <div class="footer-col">
            <h4>Companhia</h4>
            <a href="#">Negócios</a> 
            <a href="#">Franquia</a>
            <a href="#">Parceria</a>
            <a href="#">Rede</a>
        </div>
        <div class="footer-col">
            <h4>Sobre</h4>
            <a href="#">Blog</a> 
            <a href="#">Segurança</a>
            <a href="#">Carreira</a>
        </div>
        <div class="footer-col">
            <h4>Contatos</h4>
            <a href="#">Contate-nos</a> 
            <a href="#">Políticas de Privacidade</a>
            <a href="#">Termos e Condições</a>
            <a href="#">Calculadora de IMC</a>
        </div>
    </footer>
    
    <div class="footer-bar">
        Todos os direitos reservados <span>©</span> Para <span>Guedes-jr Developer</span> 2023
    </div>
</body>
</html>